extends layout

block content
  h1= title
  div
    h2 API Endpoints
    each endpoint in endpoints
      div(class='section')
        p= endpoint.name
        a(href=endpoint.path)= endpoint.path
        if endpoint.note
          p= endpoint.note
